@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient {
  background: linear-gradient(to top right, #21C7BC, #3CC985, #3C97D3);
  background-size: 200% 200%;
  animation: gradientAnimation 10s ease infinite;
}

.blur-background {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Para Safari e ARC Browser */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}
